{% extends "basepage.html" %}

{% block body %}
<div class="col-md-8 offset-md-2">
    <h1 class="mt-5">Job Openings</h1>
    <hr>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Customer Service Rep. <span class="badge bg-success">$16/hr</span></h5>
            <h6 class="card-subtitle mb-2 text-muted">447 Southport Nerang Road • Drop-off Center</h6>
            <p class="card-text">We are seeking a highly motivated and customer-focused individual to join our team as a Customer Service Representative. As a key point of contact for our valued customers, you will play a crucial role in ensuring their satisfaction and enhancing our company's reputation for exceptional service.</p>
            <a href="#" class="btn btn-primary">Apply Now</a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Delivery Driver. <span class="badge bg-success">$14/hr</span></h5>
            <h6 class="card-subtitle mb-2 text-muted">447 Southport Nerang Road • Trucking</h6>
            <p class="card-text">We are currently seeking a reliable and responsible individual to join our team as a Delivery Driver. As a key member of our operations, you will play a crucial role in ensuring the timely and efficient delivery of goods to our valued customers.</p>
            <a href="#" class="btn btn-primary">Apply Now</a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Dispatch Manager. <span class="badge bg-success">$24/hr</span></h5>
            <h6 class="card-subtitle mb-2 text-muted">447 Southport Nerang Road • Dispatch Unit</h6>
            <p class="card-text">We are currently seeking an experienced and highly organized individual to join our team as a Dispatch Manager. As a key member of our operations, you will oversee the efficient coordination of our delivery fleet and ensure timely and accurate dispatching of drivers.</p>
            <a href="#" class="btn btn-primary">Apply Now</a>
        </div>
    </div>
</div>
{% endblock %}