{% extends "basepage.html" %}

{% block body %}
<script src="{{ url_for('static', filename='js/pricing.js') }}"></script>

<h1>Pricing Calculator</h1>
<form>
    <div id="priceDiv" class="alert alert-success mt-3" style="display: none;">It will cost <strong>$<space id="price"></space></strong>, to ship this package.</div>
    <div id="error" class="alert alert-danger mt-3" style="display: none;">You <strong>cannot</strong> ship this package.</div>
    <div class="form-group mb-2">
        <label for="weight">Weight (in KG):</label>
        <input type="number" step="0.1" class="form-control" id="weight" placeholder="Enter weight">
    </div>
    <button type="button" class="btn btn-primary" onclick="calculatePrice()">Calculate</button>
</form>
{% endblock %}